@charset "UTF-8";

body {
  /* .zen-old-mincho-regular { */
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  /* } */
}

h2 {
  border-bottom: solid 1px #25271f;
  margin-top: 100px;
}

nav ul {
  display: flex;
  margin-top: 50px;
}

nav li {
  padding: 0 30px;
  font-size: 0.8rem;
}

nav li a {
  color: #25271f;
}

.main {
  display: block;
  justify-content: center;
  text-align: center;
}

.mainphrase1 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 60px;
  margin-top: 60px;
}

.mainphrase2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 60px;
  padding-left: 30px;
  margin-top: 30px;
}

#green {
  font-size: 60px;
  color: #214001;
  margin: -15px 0 40px 0;
}

#red {
  font-size: 60px;
  color: #e42859;
  margin: -15px 0 40px 0;
}

.sign {
  display: flex;
  text-align: right;
  justify-content: right;
  margin-top: 40px;
  font-size: 0.9rem;
}

.sign p {
  margin-top: 25px;
}

#work .work-icon {
  margin-top: 30px;
}

#work .work-details {
  margin: 20px 20px 0 20px;
  justify-content: space-between;
}

#product .inner {
  width: 1200px;
  height: 600px;
  background-color: #e6e5e4;
}

#product .contents {
  display: flex;
  justify-content: center;
  background-color: #e6e5e4;
}

#product .contens p {
  vertical-align: middle;
}

#product .detail-left {
  display: flex;
  margin-right: 10px;
}

#product .detail-right {
  display: flex;
  margin-left: 10px;
}

#product .detail-left img {
  width: 255px;
  height: 180px;
}

#product .detail-right img {
  width: 255px;
  height: 180px;
}

#greeting p {
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

#contact #form {
  max-width: 700px;
  margin: auto;
}

#contact .contact-textbox {
  width: 700px;
  height: 30px;
  background-color: #e6e5e4;
  border: solid 1px #214001;
}

#contact .contact-heading {
  text-align: left;
  margin-top: 30px;
}

#contact .contact-span {
  font-size: 0.7rem;
  padding-left: 10px;
  color: #e42859;
}

#contact .checkbox {
  align-items: left;
}

#contact #message {
  width: 700px;
  height: 200px;
  background-color: #e6e5e4;
  border: solid 1px #214001;
}

#footer {
  width: 1200px;
  height: 100px;
  background-color: #769cbf;
  margin: 100px auto 0 auto;
}

#footer ul {
  display: flex;
  justify-content: center;
}

#footer li {
  padding: 30px 30px 10px 30px;
}

#footer li a {
  color: #214001;
}

#footer p {
  font-size: 0.5rem;
  margin: auto;
  text-align: center;
}
