@charset "UTF-8";

body {
  /* .zen-old-mincho-regular { */
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  /* } */
}

#title-line {
  display: flex;
  justify-content: space-between;
}

#title {
  width: 300px;
  height: 50px;
  font-size: 12px;
  color: #333;
  margin-left: 200px;
  margin-top: 20px;
}

h1 {
  font-size: 14px;
  color: #333;
}

h2 {
  display: inline-block;
  border-bottom: solid 1px #333;
  text-align: center;
  margin-top: 150px;
}

nav ul {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-left: 300px;
}

nav li {
  padding: 0 0 0 60px;
  font-size: 0.8rem;
  /* writing-mode: vertical-rl; */
  text-align: start;
}

nav li a {
  color: #333;
}

.main {
  display: block;
  justify-content: center;
  text-align: center;
}

.mainphrase1 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30px;
  margin-top: 200px;
  margin-right: 100px;
}

.mainphrase2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30px;
  margin-top: 30px;
  margin-left: 100px;
}

#blue {
  font-size: 36px;
  color: #5c9291;
  margin: -15px 0 40px 0;
}

#red {
  font-size: 36px;
  color: #ef454a;
  margin: -15px 0 40px 0;
}

.sign {
  display: flex;
  text-align: right;
  justify-content: right;
  font-size: 0.9rem;
  margin-right: -20px;
}

.sign p {
  margin-top: 200px;
  margin-right: -42px;
  z-index: 20;
}

.sign img {
  width: 90px;
  height: 70px;
  margin-top: 175px;
  z-index: 10;
}

#work .skills {
  margin-top: 60px;
}

#work .work-icon {
  margin-top: 30px;
}

#work .work-details {
  margin: 20px 30px 0 20px;
  justify-content: space-between;
}

#product .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e6e5e4;
  padding: 20px 20px 0;
  margin-top: 60px;
}

#product .detail-left {
  display: flex;
  width: 50%;
  text-align: left;
  margin-right: -10px;
}

#product .detail-right {
  display: flex;
  width: 50%;
  text-align: left;
  margin-right: -10px;
}

#product .detail-left img {
  width: 255px;
  height: 180px;
  margin: 15px;
}

#product .detail-right img {
  width: 255px;
  height: 180px;
  margin: 15px;
}

#product .detail-content {
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
  width: 50%;
}

#product .detail-content .detail-skill {
  font-size: 0.7rem;
  opacity: 0.7;
}

#product .detail-content .text {
  word-wrap: break-word;
  font-size: 0.7rem;
  text-align: left;
  width: 90%;
  margin-top: 15px;
}

#greeting p {
  text-align: center;
  margin: auto;
  line-height: 2rem;
  margin-top: 50px;
}

#contact #form {
  max-width: 700px;
  margin: auto;
}

#contact .flex-box {
  text-align: left;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
label {
  display: block;
  width: 33%;
}

#contact .contact-textbox {
  width: 700px;
  height: 30px;
  background-color: #e6e5e4;
  border: solid 1px #333;
}

#contact .contact-heading {
  text-align: left;
  margin-top: 30px;
}

#contact .contact-span {
  font-size: 0.7rem;
  padding-left: 10px;
  color: #e42859;
}

#contact .checkbox {
  align-items: left;
}

#contact #message {
  width: 700px;
  height: 200px;
  background-color: #e6e5e4;
  border: solid 1px #333;
}

#footer {
  width: 1200px;
  height: 100px;
  background-color: #5c9291;
  margin: 100px auto 0 auto;
}

#footer ul {
  display: flex;
  justify-content: center;
}

#footer li {
  padding: 30px 30px 10px 30px;
}

#footer li a {
  color: #ffffff;
}

#footer p {
  font-size: 0.5rem;
  margin: 20px auto auto auto;
  text-align: center;
  color: #ffffff;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  :before,
  ::after {
    box-sizing: unset;
  }

  #title {
    margin: 10px 0 0 20px;
  }
  #title-line {
    display: block;
  }

  .inner {
    display: block;
    justify-content: left;
    max-width: 767px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
  }

  nav li {
    padding: 0 0 0 20px;
    font-size: 0.7rem;
    writing-mode: vertical-rl;
    text-align: start;
  }

  h2 {
    font-size: 0.9rem;
  }

  .mainphrase1 {
    margin-top: 100px;
  }

  .mainphrase2 {
    padding-left: 50px;
  }

  #blue {
    font-size: 24px;
  }

  #red {
    font-size: 24px;
  }

  .sign {
    display: flex;
    text-align: right;
    justify-content: right;
    font-size: 0.6rem;
    margin-right: -15px;
  }

  .sign p {
    margin-top: 88px;
    margin-right: -26px;
    z-index: 20;
  }

  .sign img {
    width: 55px;
    height: 40px;
    margin-top: 75px;
    z-index: 10;
  }

  #work .skills > img {
    max-width: 100%;
  }

  #work .work-icon > img {
    width: 100px;
  }

  #product .content {
    display: block;
    justify-content: center;
    width: 100%;
  }

  #product .detail-left {
    display: block;
    width: 100%;
    text-align: center;
  }

  #product .detail-right {
    display: block;
    width: 100%;
    text-align: center;
  }

  #product .detail-left img {
    margin: 100px 15px 0;
    align-items: center;
    width: 300px;
    height: auto;
  }

  #product .detail-right img {
    margin: 100px 15px 0;
    align-items: center;
    width: 300px;
    height: auto;
  }

  #product .detail-content {
    width: 300px;
    padding: 0;
    margin-left: 5%;
    text-align: center;
  }

  h3 {
    width: 300px;
    text-align: center;
  }
  #product .detail-content .detail-skill {
    width: 300px;
    text-align: center;
    font-size: 0.7rem;
    opacity: 0.7;
  }
  #product .detail-content .text {
    width: 300px;
    text-align: left;
    margin-top: 15px;
  }

  #greeting p {
    text-align: left;
    margin-left: 5%;

    font-size: 0.8rem;
  }

  #contact .contact-label {
    margin-left: 5%;
  }

  #contact .contact-textbox {
    width: 90%;
  }

  #contact #message {
    width: 100%;
  }
  #contact .checkbox {
    margin-top: 10px;
    margin-left: 5%;
  }

  #contact .flex-box {
    display: block;
  }

  #contact label {
    display: block;
    width: 100%;
  }

  #contact #message {
    width: 90%;
    height: 200px;
    background-color: #e6e5e4;
    border: solid 1px #333;
  }

  #footer {
    width: 100%;
  }

  #footer li {
    font-size: 0.6rem;
  }
}
